<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Annet Katan Photography.">
  <meta name="author" content="">
  <link href="/favicon.ico" rel="shortcut icon">

  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>

<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="@ViewBag.MenuHome">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="@ViewBag.MenuGallery">@Html.ActionLink("Gallery", "Gallery", "Home")</li>
        <li class="@ViewBag.MenuAbout">@Html.ActionLink("About", "About", "Home")</li>
        <li class="@ViewBag.MenuContact">@Html.ActionLink("Contact", "Contact", "Home")</liclass>
      </ul>
      <h3 class="text-muted">Project name</h3>
    </div>

    @RenderBody()

    <hr />
    <footer>
      <p>&copy; Company @DateTime.Now.Year</p>
    </footer>
  </div> <!-- /container -->
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
