@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>

  <environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>

  @*Azure Application Insights*@
  @Html.Raw(JavaScriptSnippet.FullScript)

  @*Google Analytics*@
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-96590143-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <div class="container">

    <div class="header">
      <div class="masthead clearfix">
        <div class="masthead-brand">
          <div class="brand-lg text-nowrap"><a asp-area="" asp-controller="Home" asp-action="Index">Annet Katan</a></div>
          <div class="brand-sm text-nowrap">Photography &amp; Design</div>
        </div>


        <ul class="nav masthead-nav">
          <li class="@ViewData["MenuAbout"]"><a asp-controller="Home" asp-action="About">about</a></li>
          <li class="@ViewData["MenuPortfolio"]"><a asp-area="" asp-controller="Home" asp-action="Portfolio">portfolio</a></li>
          <li class="@ViewData["MenuPricing"]"><a asp-area="" asp-controller="Home" asp-action="Pricing">pricing</a></li>
          <li class="@ViewData["MenuContact"]"><a asp-area="" asp-controller="Home" asp-action="Contact">contact</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      @RenderBody()
    </div>

    <div class="footer">
      <div class="masthead clearfix">
        <div class="masthead-brand">
          <p>&copy; @DateTime.Now.Year - Annet Katan</p>
        </div>
        <ul class="nav masthead-nav">
          <li>
            <a class="btn btn-footer" role="button" href="https://www.facebook.com/AnnetKatanPhotographer/">
              <span class="icon icon-facebook-with-circle"></span>
            </a>
          </li>
          <li>
            <a class="btn btn-footer" role="button" href="https://www.instagram.com/annet.katan.photography/">
              <span class="icon icon-instagram-with-circle"></span>
            </a>
          </li>
          <li>
            <a class="btn btn-footer" role="button" href="https://www.youtube.com/channel/UCRasIeJOgHnXwh94tGNUKbA/">
              <span class="icon icon-youtube-with-circle"></span>
            </a>
          </li>
          <li>
            <a class="btn btn-footer" role="button" href="https://www.linkedin.com/in/annetkatan/">
              <span class="icon icon-linkedin-with-circle"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div> <!-- /container -->

  <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("scripts", required: false)
</body>
</html>
