<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>@ViewBag.Title</title>

  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  
  <!--
  To collect end-user usage analytics about your application,
  insert the following script into each page you want to track.
  Place this code immediately before the closing </head> tag,
  and before any other scripts. Your first data will appear
  automatically in just a few seconds.
  -->
  <script type="text/javascript">
    var appInsights=window.appInsights||function(config){
        function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
    }({
        instrumentationKey:"b7d0a13c-47e3-4145-bc20-e0d3280cc503"
    });

    window.appInsights=appInsights;
    appInsights.trackPageView();
  </script>
</head>

<body>
  
  <div class="container">
    <div class="header">
      <div class="masthead clearfix">
        <div class="masthead-brand">
          <div class="brand-lg text-nowrap">@Html.ActionLink("Annet Katan", "Index", "Home")</div>
          <div class="brand-sm text-nowrap">Photography &amp; Design</div>
        </div>

        <ul class="nav masthead-nav">
          <li class="@ViewBag.MenuAbout">@Html.ActionLink("about", "About", "Home")</li>
          <li class="@ViewBag.MenuPortfolio">@Html.ActionLink("portfolio", "Portfolio", "Home")</li>
          <li class="@ViewBag.MenuPricing">@Html.ActionLink("pricing", "Pricing", "Home")</li>
          <li class="@ViewBag.MenuShop">@Html.ActionLink("shop", "Shop", "Home")</li>
          <li class="@ViewBag.MenuContact">@Html.ActionLink("contact", "Contact", "Home")</li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      @RenderBody()
    </div>

    <div class="footer">
      <div class="masthead clearfix">
        <div class="masthead-brand">&copy; @DateTime.Now.Year - Annet Katan</div>
        <div class="social">
          <ul class="nav masthead-nav">
            <li><a class="social" href="https://www.facebook.com/AnnetKatanPhotographer" target="_blank">b</a></li>
            <li><a class="social" href="http://instagram.com/annet.katan.photographer" target="_blank">x</a></li>
            <li><a class="social" href="https://twitter.com/AnnetKatan" target="_blank">a</a></li>
            <li><a class="social" href="http://www.linkedin.com/pub/annet-katan/31/775/645" target="_blank">j</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div> <!-- /container -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>